.nav {
  border: 0px;
  background: white;
}

a {
  color: black;
}



.img-circle {
  display: block;
  margin: auto;
}

.color-1 {
  color: black;
  background: #4285f4;
}

.color-2 {
  color: black;
  background: #0f9d58;
}

.color-3 {
  color: black;
  background: #f4b400;
}

.color-4 {
  color: black;
  background: #db4437;
}

.first {
  padding-top: 62px; 
}

.last {
  min-height: 100vh;
}

.disabled {
  pointer-events: none;
}