.nav-tabs {
  border: 0;
  background: white;
  margin-bottom: 0;
}

.nav-tabs li a {
  font-size: 20px;
  font-weight: bold;
}

.sub-menu {
  margin-top: 50px;
  margin-left: 15px;
  background: none;
}

a {
  color: black;
}

/* Color scheme one, four colors*/
.color-1 {
  color: black;
  background: #9ec3ff;
}

.color-2 {
  color: black;
  background: #8ee1b9;
}

.color-3 {
  color: black;
  background: #efd89b;
}

.color-4 {
  color: black;
  background: #efb5b0;
}

/* Color scheme two, three colors
.color-1 {
  color: darkslategray;
  background: #4ABDAC;
}

.color-2 {
  color: darkslategray;
  background: #FC4A1A;
}

.color-3 {
  color: darkslategray;
  background: #F7B733;
}*/

.first {
  padding-top: 70px; 
}

.sub-section {
  padding-top: 50px;
}

.first-sub {
  padding-top: 120px;
}

.last {
  min-height: 100vh;
}

.disabled {
  pointer-events: none;
}

.carousel {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.embeded-responsive {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

iframe {
  width: 800px;
  height: 600px;
  max-width: 100%;
}